
/* this is my Media CSS */

@media (min-width: 991px) and (max-width: 1200px) {
}

@media (min-width: 768px) and (max-width: 990px) {
.top-row .col-xs-6 {
	width: 50%;
}
.banner img {
	display: none;
}
.newsletter h3 {
	margin-bottom: 15px;
}
}

@media (max-width: 767px) {
.top-row .col-xs-6 {
	width: 50%;
}
.banner img {
	display: none;
}
.newsletter h3 {
	margin-bottom: 15px;
}
}

@media (max-width: 480px) {
.top-row ul li a {
	width: 20px;
	height: 20px;
	line-height: 20px;
	font-size: 8px;
}
.top-row .btn {
	font-size: 11px;
	padding: 9px;
	float: right;
	margin-left: 15px;
}
.banner img {
	display: none;
}
.pricing-table {
	margin: 15px 0;
}
.testimonials .carousel-item {
	padding: 45px 30px;
}
.newsletter h3 {
	margin-bottom: 15px;
}
.newsletter input {
	height: 49px;
}
.post-details h2 {
	font-size: 25px;
}
}
